body{
  background-color: #a55c1b;
  background-image: linear-gradient(315deg, #a55c1b 0%, #000000 74%);
}
.game_container{
  text-align: center;
  color: white;
}
.game_heading{
  padding-bottom: 10%;
}
.footer{
  padding-top: 10%;
}
button{
margin: 5px 50px;
}
